/* 改变主题色变量 */
$--color-primary: rgba(44, 98, 255, 1);
$--color-warning: rgba(255, 129, 19, 1);

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~sw-ui/lib/theme-chalk/fonts';

@import "~sw-ui/packages/theme-chalk/src/index";
