@import "./variables.scss";
// 自定义类
.dot {
  border-radius: 50%;
}

// 自定义样式
body {
  font-family: PingFang SC, Helvetica Neue, Arial, sans-serif !important;
}

hr {
  background-color: $color-header-10;
  height: 1px;
  border: none;
  margin-top: 0;
}

// element-ui
// 搜索按钮
.el-input-group__append {
  background-color: $color-blue !important;
  color: #fff !important;
  border: 1px solid $color-blue !important;
  padding: 0 9px !important;
}
// 表格
.el-table {
  thead {
    tr {
      th {
        // height: 40px;
        background: rgba(12, 0, 53, 0.08);
        color: $color-header;
      }
    }
  }
  tbody {
    tr:nth-child(2n) {
      background: rgba(250, 250, 251, 1);
    }
  }
}
