@import "./variables.scss";
// 自定义类
.dot {
  border-radius: 50%;
}

// 自定义样式
body {
  font-family: PingFang SC, Helvetica Neue, Arial, sans-serif !important;
}
// element-ui
// 搜索按钮
.el-input-group__append {
  background-color: $color-blue !important;
  color: #fff !important;
  border: 1px solid $color-blue !important;
  padding: 0 9px !important;
}
